---
title: Simple Methods Powerlifting Coaching
layout: splash
permalink: /
header:
  overlay_image: /images/splash/dl_header.webp
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
  overlay_filter: rgba(0, 0, 0, 0.8)
  actions:
    - label: <i class="fa-brands fa-instagram fa-2xl instagram"></i>
      url: "https://www.instagram.com/hannes.smplc/"

excerpt: "Dein Progress ist unsere Leidenschaft!"

erstgespräch:
- title: 'Erstgespräch'
  image_path: "/images/home/erstgespräch.webp"
  url: "/interview"
  image_caption: "Image from [Unsplash](https://unsplash.com/de/fotos/K8XYGbw4Ahg)"
  btn_label: "Erstgespräch vereinbaren"
  btn_class: "btn--primary"
  excerpt: "Vereinbare ein Erstgespräch, damit wir uns kennelernen können!"

fragebogen:
- title: 'Fragebogen'
  image_path: "/images/home/fragebogen.webp"
  image_caption: "Image from [Unsplash](https://unsplash.com/de/fotos/qDgTQOYk6B8)"
  excerpt: "Gib mir noch mehr Infos über dich, indem du einen Fragebogen ausfüllst."

videofeedback:
- title: 'Videos & erstes Feedback'
  image_path: "/images/home/videofeedback.webp"
  image_caption: "Image from [Unsplash](https://unsplash.com/de/fotos/dS-q7-zkD9c)"
  excerpt: "Schick mir Videos deiner Lifts, damit ich deine Beuge, deine Bank und dein Kreuzheben kennen lernen und
    dir auch schon erstes Feedback geben kann."
---


<div class="container">

  <div class="box color-box red-box">

    <p>
      Wir freuen uns, dich im <a rel="noopener noreferrer nofollow"
                                 target="_blank" href="https://www.instagram.com/explore/tags/teamsimplemethods/">
      #teamsimplemethods</a> willkommen zu heißen!
    </p>

    <p><a href="/team" class="btn btn--primary">Über unser Coaching-Team</a></p>

  </div>


  <div class="box color-box blue-box">

    <p>
      Dich erwartet vollumfängliches Coaching - angepasst an deine Erfahrungswerte, deine Motivation, deine Zielsetzung, dein Zeit- und Finanzbudget!
    </p>

    <p><a href="/packages" class="btn btn--primary btn-blue">Zu den Coaching-Paketen</a></p>


  </div>
  

</div>

<h1 class="colored big-header center">
    Ablauf des Coachings:
</h1>

<div class="coaching-box">

  {% include feature_row id="erstgespräch" type="left" %}

  <div id="fade-elem-one" class="hide-for-fade-in">
    {% include feature_row id="fragebogen" type="right" %}
  </div>

  <div id="fade-elem-two" class="hide-for-fade-in">
    {% include feature_row id="videofeedback" type="left" %}
  </div>

</div>
