---
title: Simple Methods Powerlifting Coaching
layout: splash
permalink: /
header:
  overlay_image: /images/splash/dl_header.webp
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
  overlay_filter: rgba(0, 0, 0, 0.8)
  actions:
    - label: <i class="fa-brands fa-instagram fa-2xl instagram"></i>
      url: "https://www.instagram.com/hannes.smplc/"

excerpt: "Dein Progress ist unsere Leidenschaft!"

erstgespräch:
- title: 'Erstgespräch'
  image_path: "/images/home/erstgespräch.webp"
  url: "/interview"
  image_caption: "Image from [Unsplash](https://unsplash.com/de/fotos/K8XYGbw4Ahg)"
  btn_label: "Erstgespräch vereinbaren"
  btn_class: "btn--primary"
  excerpt: "Schreib uns einfach an und wir vereinbaren ein Erstgespräch zum Kennenlernen."

fragebogen:
- title: 'Kennenlernen / Anamnesegespräch'
  image_path: "/images/home/fragebogen.webp"
  image_caption: "Image from [Unsplash](https://unsplash.com/de/fotos/qDgTQOYk6B8)"
  excerpt: "Wir erfahren mehr über dich als Athlet*In und klären all deine Fragen."

videofeedback:
- title: 'Start ins Coaching'
  image_path: "/images/home/videofeedback.webp"
  image_caption: "Image from [Unsplash](https://unsplash.com/de/fotos/dS-q7-zkD9c)"
  excerpt: "Du kriegst deinen ersten Plan und kannst mit dem Training durchstarten!"
---


<script>
if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
  window.location.href = "/mobile"; // URL der Mobil-Version
}
</script>


<div class="container">

  <div class="box color-box red-box">

    <p>
      Wir freuen uns, dich im <a rel="noopener noreferrer nofollow"
                                 target="_blank" href="https://www.instagram.com/explore/tags/teamsimplemethods/">
      #teamsimplemethods</a> willkommen zu heißen!
    </p>

    <p><a href="/team" class="btn btn--primary">Über unser Coaching-Team</a></p>

  </div>


  <div class="box color-box blue-box">

    <p>
      Dich erwartet vollumfängliches Coaching - angepasst an deine Erfahrungswerte, deine Motivation, deine Zielsetzung, dein Zeit- und Finanzbudget!
    </p>

    <p><a href="/packages" class="btn btn--primary btn-blue">Zu den Coaching-Paketen</a></p>


  </div>


</div>

<h1 class="colored big-header center">
    Dein Start in unser Coaching:
</h1>

<div class="coaching-box">

  {% include feature_row id="erstgespräch" type="left" %}

  <div id="fade-elem-one" class="hide-for-fade-in">
    {% include feature_row id="fragebogen" type="right" %}
  </div>

  <div id="fade-elem-two" class="hide-for-fade-in">
    {% include feature_row id="videofeedback" type="left" %}
  </div>

</div>
