---
title: Simple Methods Powerlifting Coaching
layout: splash
permalink: /
header:
  overlay_image: /images/bjarne_worlds_header.webp
  overlay_filter: rgba(0, 0, 0, 0.8)

  actions:
    - label: <i class="fab fa-instagram contact-icons instagram"></i>
      url: "https://www.instagram.com/hannes.smplc/"

excerpt: "Dein Progress ist unsere Leidenschaft!"

erstgespräch_vereinbaren:
  - title: 'Erstgespräch'
    image_path: "/images/home/erstgespräch.webp"
    alt: "Wettkampf-Foto mit Athlet und Coach von der Deutschen Meisterschaft"
    url: "/#interview"
    btn_label: "Erstgespräch vereinbaren"
    btn_class: "btn--primary"
    excerpt: "Schreib uns einfach an und wir vereinbaren ein Erstgespräch zum Kennenlernen."

erstgespräch:
  - excerpt: "Im Erstgespräch beantworten wir ganz unverbindlich alle deine Fragen und ggf. lernen wir uns gegenseitig kennen. Das bedeutet vor allem eine Auswertung deiner bisherigen Trainingskarriere."

start_ins_coaching:
  - title: 'Start ins Coaching'
    image_path: "/images/home/start_ins_coaching.webp"
    alt: "Wettkampf-Foto mit Athletin von den IFP Worlds"
    excerpt: "Wenn alles passt, kriegst du deine erste Technikanalyse und deinen ersten Plan und es kann losgehen!"
---


<!--
#################################################################################
#################################################################################
HOME
#################################################################################
#################################################################################
-->

<div id="cookie-banner" class="center">
  Diese Website wird über GitHub Pages zur Verfügung gestellt, das heißt, sie verwendet ein globales Verteilernetzwerk (CDN), um Inhalte zuverlässig anzuzeigen. Wenn du die Website nutzt, können einige deiner nicht-persönlichen Daten, wie beispielsweise die IP-Adresse und Informationen zur Seitennutzung, über dieses Netzwerk übertragen werden, um eine einwandfreie Funktion der Website zu gewährleisten.
  Mehr Infos findest du im
  <a href="/imprint#github-pages-und-cdn-nutzung"
     target="_blank" rel="noopener noreferrer nofollow">
    Impressum & Datenschutz</a><br><br>

  Bitte bestätige, dass du damit einverstanden bist.<br><br>
  <button class="btn btn--primary" id="cookie-consent-btn">Einverstanden</button>
</div>

<!-- JavaScript-Code für den Cookie Consent-Banner -->
<script>
    // Funktion zum Ausblenden des Banners
    function setCookieConsent() {
        document.getElementById('cookie-banner').style.display = 'none';
    }

    // Event Listener für den Einverstanden-Button
    document.getElementById('cookie-consent-btn').addEventListener('click', setCookieConsent);
</script>


<div class="container">

  <div class="box color-box red-box" id="home">

    <p>
      Wir freuen uns, dich im <a rel="noopener noreferrer nofollow"
                                 target="_blank" href="https://www.instagram.com/explore/tags/teamsimplemethods/">
      #teamsimplemethods</a> willkommen zu heißen!
    </p>

    <p><a href="/#team" class="btn btn--primary">Über unser Coaching-Team</a></p>

  </div>


  <div class="box color-box blue-box lower-box">

    <p>
      Dich erwartet vollumfängliches Coaching - angepasst an deine Erfahrungswerte, deine Motivation, deine Zielsetzung, dein Zeit- und Finanzbudget!
    </p>

    <p><a href="/#packages" class="btn btn--primary btn-blue">Zu den Coaching-Paketen</a></p>


  </div>

</div>

<h1 class="colored big-header center">
  Dein Start in unser Coaching:
</h1>

<div class="coaching-box center">

  <div id="fade-elem-zero" class="hide-for-fade-in">
  {% include feature_row id="erstgespräch_vereinbaren" type="center" %}
  </div>

  <div id="fade-elem-one" class="hide-for-fade-in">
    {% include feature_row id="erstgespräch" type="center" %}
  </div>

  <div id="fade-elem-two" class="hide-for-fade-in">
    {% include feature_row id="start_ins_coaching" type="center" %}
  </div>

</div>



<!--
#################################################################################
#################################################################################
TEAM
#################################################################################
#################################################################################
-->

<hr class="hr-text" data-content="Coaching-Team" id="team">


<div class="container">
<div class="box">

  <h1 class="colored big-header center margin-at-bottom">
    Hannes
  </h1>

  <img id="about-img" src="/images/about/Hannes.webp" class="max600 center margin-at-bottom" alt="Coach Hannes">

  <p>
    Dein Progress ist meine Leidenschaft – die ich vor 3 Jahren vom Hobby zum Vollzeitjob machen konnte. Vor sechs Jahren damit angefangen Freund:innen im Training zu unterstützen, begleite ich heute ein Team von über 60 Athlet:innen jeglicher Level: Von Erstwettkämpfer:innen bis zu Worlds-Starter:innen.
    Innerhalb dieser Zeit durfte ich als Coach eine Unmenge wertvoller Erfahrungen sammeln. Mich auf meinem Know-how auszuruhen, stand für mich jedoch nie zur Debatte. Die ständige Weiterbildung meiner Coaching-Kompetenzen kommt deswegen nicht nur meiner Verantwortung gegenüber euch Lifter*innen nach, sondern ist und bleibt mir zudem eine persönliche Herzensangelegenheit.
  </p>

</div>


<div class="box">

  <h1 class="colored big-header center margin-at-bottom">
    Marwin
  </h1>

  <img id="about-img-2" src="/images/about/Hannes.webp" class="max600 center margin-at-bottom" alt="Coach Marwin">

  <p>
    Dieses Gefühl, Momente bevor du auf dem Wettkampf zur Plattform gerufen wirst, kenne ich nur zu gut. Den Mix aus Vorfreude und Aufregung erlebte ich zum ersten Mal im Jahr 2019, heute teile ich ihn regelmäßig mit meinem Team aus 13 Athlet:innen. Seit meinen Anfängen als Coach im November 2021, durfte ich verschiedensten Powerlifter:innen den Rücken stärken – sowohl im Trainingsalltag, als auch bei Wettkämpfen.
    Egal ob auf der Wettkamp-Plattform oder im Gym: Dass deine Bedürfnisse immer höchste Priorität haben, ist für mich selbstverständlich. Mit viel Liebe zum Detail und einer offenen Kommunikation zwischen Athlet:in und Coach erreichen wir deinen bestmöglichen Progress – langfristig und als Team.
  </p>

</div>

</div>








<!--
#################################################################################
#################################################################################
PACKAGES
#################################################################################
#################################################################################
-->

<hr class="hr-text" data-content="Coaching-Pakete" id="packages">

<div class="color-box blue-box lower-box center">
  Dass es im Powerlifting keine Einheitslösungen gibt, dürfte genauso selbstverständlich sein wie dass kein Trainingsplan unserer Athlet:innen dem Anderen gleicht. Unabhängig davon, für welches Paket du dich also entscheidest: Dich erwartet vollumfängliches Coaching - angepasst an deine Erfahrungswerte, deine Motivation, deine Zielsetzung, dein Zeit- und Finanzbudget.
</div>

<div class="container">

<div class="box package-box">

  <h1 class="colored big-header center margin-at-bottom">
    Standard
  </h1>


  <p>
    Individualisierung gewährleisten wir über enge Betreuung. Uns ist wichtig, dass technisches Feedback in der nächsten Einheit umgesetzt werden kann und du bei Fragen nicht warten musst. Deshalb gewährleisten wir Kommunikation i.d.R. immer innerhalb von 24 Stunden.  Enge Betreuung heißt auch: Proaktiv durchdachte, jedoch anpassungsfähige Trainingsplanung. So updaten wir dein Programming jeweils wöchentlich, auch wenn die gröberen Variablen schon weiter voraus geplant werden.
    <br><br>
    Am Gameday unterstützen wir dich mit der Versuchsauswahl, bei Möglichkeit natürlich in Persona.

  </p>

  <div class="price-box">
    <p class="price-header"> <i class="fas fa-euro-sign"></i> &nbsp; Preis</p>
    <hr class="price-sep">
    <p>
      Die Kosten liegen bei 189€/Monat im Normaltarif und bei 149€/Monat, wenn du studierst oder in einer Ausbildung bist.
    </p>
  </div>

</div>

<div class="box package-box">

  <h1 class="colored big-header center margin-at-bottom">
    <i class="fa fa-plus-circle"></i>
    Plus
  </h1>

  <p>
    Das Plus-Paket ist für Athlet:innen, die sehr direkt in die Trainingsplanung miteingebunden werden  wollen und mehr über die „Whys“ und „Hows“ unserer Coachingweise erfahren möchten. Das bietet sich auch gerade für Athlet:innen an, die selber coachen. 
    Hier nehmen wir dich wöchentlich per Videocall in den Prozess des Programmings mit, beantworten face-to-face deine Fragen und besprechen deine Technik.
  </p>

  <div class="price-box">
    <p class="price-header"> <i class="fas fa-euro-sign"></i> &nbsp; Preis</p>
    <hr class="price-sep">
    <p>
      Preislich liegt das Coaching hier bei 249€/Monat.
    </p>
  </div>

</div>

</div>



<!--
#################################################################################
#################################################################################
INTERVIEW
#################################################################################
#################################################################################
-->

<hr class="hr-text" data-content="Erstgespräch" id="interview">

<div class="box color-box blue-box">
Kontaktiere uns, um ein Erstgespräch zu vereinbaren  - wir freuen uns auf deine Nachricht!
</div>
<br>

<form id="fs-frm" name="simple-contact-form-mobile" accept-charset="utf-8" action="https://formspree.io/f/maygbyan" method="post">
  <fieldset id="fs-frm-inputs">
    <label for="full-name">Name</label>
    <input type="text" name="name" id="full-name" placeholder="Dein Name" required="" class="center">
    <label for="email-address">Email</label>
    <input type="email" name="_replyto" id="email-address" placeholder="Deine Email Adresse"required="" class="center">
    <label for="message" style="width: 83px;">Nachricht</label>
    <textarea rows="5" name="message" id="message" placeholder="Erzähl uns ein bisschen über dich und sag Bescheid, wann ein Gespräch zeitlich für dich möglich ist" required="" class="center"></textarea>
    <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
  </fieldset>
  <button type="submit">Absenden</button>
</form><style>/* reset */
#fs-frm input,
#fs-frm button,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#fs-frm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#fs-frm label {
  width: 50px;
  margin: auto;
  text-align: center !important;
}

#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  color: white;
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm button,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255, 3, 62, 0.08);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm button:hover,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: rgba(255, 3, 62, 0.3);
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}
</style>




<!--
#################################################################################
#################################################################################
CONTACT
#################################################################################
#################################################################################
-->

<hr class="hr-text" data-content="Kontakt" id="contact">

<div class="center">
  Du erreichst uns per Mail oder Instagram! <br>
    <a style="text-decoration: none; margin: 20px; margin-top: 40px;" href="xmxaxixlxtxo:hxhxaxrxhxuxexsx@xgxmxaxixlx.xcxoxm" onmouseover="this.href=this.href.replace(/x/g,'');">
      <i class="fa fa-fw fa-envelope contact-icons mail" style="margin: 10px 0;"></i>
    </a>
    <a style="text-decoration: none; margin: 20px; margin-top: 40px;" rel="noopener noreferrer nofollow" target="_blank" href="https://www.instagram.com/hannes.smplc/">
      <i class="fab fa-instagram contact-icons instagram"></i>
    </a>

</div>