<div class="page__footer-follow">
  <ul class="social-icons">


    <li><a href="https://www.instagram.com/hannes.smplc/"
           rel="noopener noreferrer nofollow"
           target="_blank"><i class="fab fa-fw fa-instagram" aria-hidden="true" style="color:#FF033E"></i> Instagram</a></li>

    <li><a href="{{ '/imprint' | absolute_url }}"
           rel="noopener noreferrer nofollow"
           target="_blank"><i class="fas fa-fw fa-gavel" style="color:#FF033E" aria-hidden="true"></i> Impressum & Datenschutz</a></li>
  </ul>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} Hannes Harhues. Created by
  <a rel="noopener noreferrer nofollow" target="_blank"href="https://perstarke-webdev.github.io/">
    Per Starke Web Development</a>

</div>
