/* special styles for smplc website */

.colored {
    color: #FF033E;
}

.big-header {
    font-size: 1.7em;
}

.margin-at-bottom {
    margin-bottom: 30px;
}

.center {
    text-align: center;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


img.max600 {
    max-width: 600px;
}

img.header-img {
  max-width: 500px;
  width: 80%;
}

img.little-rounded {
    border-radius: 3px;
}



div.coaching-box {
    margin: 30px;
    padding: 20px;
    background-color: rgba(255, 3, 62, 0.08);
    border-radius: 5px;
}

li.no-bullet{
     list-style-type: none
}

.contact-icons {
    font-size: 2em;
}

.instagram {
    color: #FF033E;
}

.instagram_in_btn:before {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
}

@media(hover: hover) and (pointer: fine) {
    .instagram:hover:before {
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: initial;
    }

    .instagram:hover {
        transform: scale(1.5);
    }
}

.mail {
    color: blue;
}

@media(hover: hover) and (pointer: fine) {
    .mail:hover {
        transform: scale(1.5);
    }
}

.home-title {
    color: #FF033E;
    display: inline-block;
    white-space: nowrap;
}



/**
Styling for masthead
*/

.my-menu-item:hover, .my-menu-item:active {
    color: #FF033E !important;
    transition: all 0.3s linear;
}



/**
Fade in elements on scroll
*/

.hide-for-fade-in {
  opacity: 0%;
  -webkit-transition: opacity 2.5s;
  -o-transition: opacity 2.5s;
  transition: opacity 2.5s;
}

.fade-in {
  opacity: 100%;
}










/**
boxes, box-styling and buttons
*/


.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.box {
  padding: 20px;
  text-align: center;
}


.color-box {
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 15px;
}

.blue-box {
    border: 2px solid rgb(0, 128, 128);
    background-color: rgba(0, 128, 128, 0.2);
}

.red-box {
    border: 2px solid rgb(100, 1, 24);
    background-color: rgba(100, 1, 24, 0.2);
}

.package-box {
    border: 1px solid rgb(100, 1, 24);
    border-radius: 4px;
}

.price-header {
    font-size: 120%;
    font-weight: bold;
    padding-top: 15px;
}

hr.price-sep {
    border-top: 1px solid rgba(192, 192, 192, 0.4);
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.price-box {
    font-size: 85%;
    width: 70%;
    border: 2px solid rgba(192, 192, 192, 0.4);
    background-color: rgba(192, 192, 192, 0.05);
    border-radius: 5px;
    padding: 5px;
    margin: auto;
}

.btn-blue {
    background-color: rgb(0, 128, 128) !important;
    transition: background-color 0.3s ease !important;
}

.btn-blue:hover {
    background-color: rgba(0, 128, 128, 0.8) !important;
}

.btn-red-transparent {
    background-color: rgba(100, 1, 24, 0.7) !important;
    border: 1px solid rgba(100, 1, 24, 0.9) !important;
    transition: background-color 0.3s ease !important;
}

.btn-red-transparent:hover {
    background-color: rgba(100, 1, 24, 0.5) !important;
    border: 1px solid rgba(100, 1, 24, 0.7) !important;
}

.lower-box {
    margin-bottom: 30px !important;
}

.margin-top {
    margin-top: 10px !important;
}





@media (max-width: 767px) {

  .container {
    grid-template-columns: 1fr;
    gap: 10px;
  }

    .color-box {
        margin-bottom: 0;
    }

}




/**
cookie banner
*/

#cookie-banner {
    display: block; /* Initially hide the div */
    position: fixed; /* Stick to the viewport */
    bottom: 0; /* Stick to the bottom of the viewport */
    left: 0; /* Align to the left */
    right: 0; /* Align to the right */
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow */
    color: white;
    background-color: rgb(54, 69, 79);
    padding: 10px;
    border-radius: 5px;
    z-index: 999;
    font-size: 70%
}







/* onepager */

.hr-text {
  line-height: 3em;
  position: relative;
  outline: 0;
  border: 0;
  color: white;
  text-align: center;
  height: 3em;
  margin: 100px 0;
}

.hr-text::before {
  content: '';
  background: linear-gradient(to right, transparent, #FF033E, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 5px;
  margin-top: -3px;
}

.hr-text::after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: rgb(100, 1, 24);
  padding: 0 .5em;
  line-height: 3em;
  background-color: rgba(255, 255, 255);
  border-radius: 4px;
}



 