/* special styles for smplc website */

.colored {
    color: #FF033E;
}

.big-header {
    font-size: 1.7em;
}

.center {
    text-align: center;
}

li.no-bullet{
     list-style-type: none
}

.contact-icons {
    font-size: 2em;
}

.instagram {
    color: #FF033E;
}

@media(hover: hover) and (pointer: fine) {
    .instagram:hover:before {
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: initial;
    }

    .instagram:hover {
        transform: scale(1.5);
    }
}

.mail {
    color: blue;
}

@media(hover: hover) and (pointer: fine) {
    .mail:hover:before {
        background: linear-gradient(145deg, rgba(0,0,255,1) 20%, rgba(0,203,255,1) 50%, rgba(0,0,255,1) 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: initial;
    }

    .mail:hover {
        transform: scale(1.5);
    }
}

.home-title {
    color: #FF033E;
    display: inline-block;
    white-space: nowrap;
}




/**
Styling for hovered images
*/

img.max300 {
    max-width: 300px;
}

div.grid-container {
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  justify-content: center;
}

@media (min-width: 1000px) {
  div.grid-container { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 700px) and (max-width: 1000px) {
  div.grid-container { grid-template-columns: repeat(2, 1fr); }
}


.view {
    width: 300px;
    height: 400px;
    margin: 10px;
    float: left;
    border: 5px solid #fff;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
}
.view .mask, .view .content {
    width: 300px;
    height: 400px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

.view .mask-blue, .view .content {
    width: 300px;
    height: 400px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 22px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 17px;
    position: relative;
    color: #fff;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 40px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-first img {
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(255, 3, 62, 0.7);
    transition: all 0.4s ease-in-out;
}

.view-first .mask-blue {
    opacity: 0;
    background-color: rgba(0, 0, 150, 0.7);
    transition: all 0.4s ease-in-out;
}

.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p {
    transform: translateY(100px);
    opacity: 0;
	transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
	transition: all 0.2s ease-in-out;
}

.view-first:hover img, .view-first:active img {
	transform: scale(1.1);
}
.view-first:hover .mask, .view-first:active .mask {
	opacity: 1;
}

.view-first:hover .mask-blue, .view-first:active .mask-blue {
	opacity: 1;
}

.view-first:hover h2, .view-first:active h2,
.view-first:hover p, .view-first:active p,
.view-first:hover a.info, .view-first:active a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p, .view-first:active p {
    transition-delay: 0.1s;
}
.view-first:hover a.info, .view-first:active a.info {
    transition-delay: 0.2s;
}




/**
Styling for masthead
*/

.my-menu-item:hover, .my-menu-item:active {
    color: #FF033E !important;
    transition: all 0.3s linear;
}